Repository thoughtmachinetrial/gh_testing, changes with the owners that CODEOWNERS names for each.
All owners: @fische, @goddenrich, @birkalo

CODEOWNERS:

# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most
# precedence.

docs/*  @fische

/apps/ @fische
/apps/thing/ @goddenrich
/apps/thing/folder/ @birkalo  

# It appears that if someone is referenced who isn't in the org, noone is added as an automatic reviewer. 
# ^ same for if the owner raises the PR themselves.

Checking codeowners in two places
  apps/thing/thing-file.txt
  docs/docs_file.py
Owners: @goddenrich, @fische

Some changes in original branch
  apps/thing/thing-file.txt
Owners: @goddenrich

Some changes to stacked branch
  apps/thing/thing-file.txt
Owners: @goddenrich

Changes to original branch
  apps/thing/file-here.txt
Owners: @goddenrich

Changes to stacked branch
  apps/thing/file-here.txt
Owners: @goddenrich

Some changes to stacked branch (#9)
  apps/thing/thing-file.txt
Owners: @goddenrich

Test branch (#1)
  docs/newfile.txt
Owners: @fische

Changes to original branch (#11)
  apps/thing/file-here.txt
Owners: @goddenrich

Some changes in original branch (#8)
  apps/thing/thing-file.txt
Owners: @goddenrich

Committing circleci config
  .circleci/config.yml
  .circleci/hello.py
  .circleci/requirements.txt
  .circleci/tests.py
  .gitignore
Owners: none

Testing status checks
  apps/thing/testing.txt
Owners: @goddenrich

Adding sleep to fake tests
  .circleci/tests.py
Owners: none

Testing status checks
  apps/thing/another-file
Owners: @goddenrich

Testing status checks, 1
  newfile1
Owners: none

Testing status checks, 2
  newfile2
Owners: none

Testing status checks, 2
  newfile3
Owners: none

Adding 3rd change
  newfolder/another-file.txt
Owners: none

Adding 3rd change (#16)
  newfolder/another-file.txt
Owners: none

Conflictng chage
  newfolder/another-file.txt
Owners: none

Checking status checks
  newfolder/another-file.txt
Owners: none

M
  newfile.txt
Owners: none

N
  newfile.txt
Owners: none

New workflow
  .github/workflows/myworkflow.yml
Owners: none

Update workflow action
  .github/workflows/myworkflow.yml
Owners: none

M
  file.txt
Owners: none

Update action
  .github/workflows/myworkflow.yml
Owners: none

P
  newfile2.txt
Owners: none

Q
  newfile3.txt
Owners: none

Checking status checks (#18)
  newfolder/another-file.txt
Owners: none

Update workflow
  .github/workflows/myworkflow.yml
Owners: none

Create herald rule GH action
  .github/workflows/herald.yml
Owners: none

Herald rules
  .github/workflows/herald.yml
Owners: none

Adding herald rules
  herald_rules/add_comment.json
  herald_rules/add_labels.json
  herald_rules/add_reviewers.json
  herald_rules/notify_team.json
Owners: none

Herald rule change
  herald_rules/file.txt
Owners: none

New js file
  herald_rules/newfile.js
Owners: none

Directory added
  directory/newfile.txt
Owners: none

Herald upate
  .github/workflows/herald.yml
Owners: none

newcommit
  directory/newfile.txt
Owners: none

Update newfile.txt
  directory/newfile.txt
Owners: none

M
  .github/workflows/herald.yml
Owners: none
