Repository thoughtmachinetrial/gh_testing, changes with the owners that CODEOWNERS names for each.
All owners: @fische, @goddenrich, @birkalo

CODEOWNERS:

# Each line is a file pattern followed by one or more owners.
# Order is important; the last matching pattern takes the most
# precedence.

docs/*  @fische

/apps/ @fische
/apps/thing/ @goddenrich
/apps/thing/folder/ @birkalo  

# It appears that if someone is referenced who isn't in the org, noone is added as an automatic reviewer. 
# ^ same for if the owner raises the PR themselves.

upate again
  directory/newfile.txt
Owners: none

Adding rules
  rules/add_comment.json
  rules/add_labels.json
  rules/add_reviewers.json
  rules/notify_team.json
Owners: none

Update newfile.js
  herald_rules/newfile.js
Owners: none

Revert "P"
  newfile2.txt
Owners: none

Revert "P" (#25)
  newfile2.txt
Owners: none

Added some more letters
  directory/newfile.txt
Owners: none

Commit here
  newfile2
Owners: none

Testing draft PRs
  js_file.js
Owners: none

Testing notifications on draft prs
  apps/thing/folder/newfile
Owners: @birkalo

Codeowners - Added a new codeowners file in the ./github directory to test merging to master from an endpoint.
  github/CODEOWNERS
Owners: none

checking if i can merge PRs
  file.txt
Owners: none

Are codeowners inherited?
  apps/thing/tobys-file.txt
Owners: @goddenrich

another commit to trigger a new PR.
  apps/im-sorry-im-making-the-repo-a-mess.txt
Owners: @fische

new branch for new pr.
  apps/im-sorry-im-making-the-repo-a-mess.txt
Owners: @fische
